@media (width > 1023px) {
  .clock-and-hand{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clock-and-hand img {
    display: block;
  }
  
  .aside-main-container{
    flex-direction: row;
  }
  
  aside {
    width: 30%;
    min-width: 360px;
  }

  main {
    display: block;
    width: 70%;
  }


  .todo{
    width:auto;
  }
  .todo-container{
    display: block;
  }
}
