*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* Färger */
    --Primary-color:black;
    --Secondary-color:white;
    --green-color1: #4eaf50;
    --green-color2: #82c784;


    /* Värden */
    --header-height: 5rem;
    --FS-1: 1rem;
    --FS-1_5: 1.5rem;
}

body{
    background-color: pink /*Ska vara primary color. "var(--Secondary-color)"*/;    
    color: var(--Secondary-color);
}



header{
    height: var(--header-height);
    text-align: center;
}

header img {
    height: 100%;
}


.aside-main-container{
    display: flex;
    height:calc(100vh - var(--header-height));
}

/* ASIDE--------------------------------------------------- */

aside{
    width: 100%;
    background-color: green;
}

.welcome-div .full-date-and-time {
    text-align: center;
    margin: 1rem 0;
    font-size: var(--FS-1_5);
}

.clock-and-hand .clock{
    text-align: center;
    font-size: var(--FS-1_5);
}
.clock-and-hand img{
    display: none;
}

/* SKAPA TODO KNAPP */
.create-button-div{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    text-align: center;
}
.create-button-div .createButton{
    margin: 1.5rem 0;
    padding: 0.5rem;
    width: 75%;
    border-radius: 0.5rem;
    font-size: var(--FS-1_5);
    color: var(--Secondary-color);
    background-color: #4eaf50;

    display: flex;
}




/* MAIN---------------------------------------------------- */

main{
    display: none;
    background-color: purple; 
}