* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ROOT VARIABLER------------------------------------------- */
:root {
  /* Färger */
  --Primary-color: black;
  --Secondary-color: white;
  --green-color1: #4eaf50;
  --green-color2: #82c784;
  --grey-color: #313131;
  --delete-btn-color: #af4e4e;

  /* Värden */
  --header-height: 5rem;
  --FS-1: 1rem;
  --FS-1_5: 1.5rem;
}

/* BODY------------------------- */

body {
  background-color: pink /*Ska vara primary color. "var(--Secondary-color)"*/;
  color: var(--Secondary-color);
}

/* HEADER--------------------------------------------------- */

header {
  height: var(--header-height);
  text-align: center;
}

header img {
  height: 100%;
}

.aside-main-container {
  display: flex;
  height: calc(100vh - var(--header-height));
}

/* ASIDE--------------------------------------------------------------------------------- */

aside {
  width: 100%;
  background-color: green;
}

.welcome-div .full-date-and-time {
  text-align: center;
  margin: 1rem 0;
  font-size: var(--FS-1_5);
}

.clock-and-hand .clock {
  text-align: center;
  font-size: var(--FS-1_5);
}
.clock-and-hand img {
  display: none;
}

/* SKAPA TODO KNAPP ---------------------------------*/
.create-button-div {
  border-top: 2px solid var(--Secondary-color);
  border-bottom: 2px solid var(--Secondary-color);
  display: flex;
  justify-content: center;
}
.create-button-div .createButton {
  margin: 1.5rem 0;
  padding: 0.5rem;
  width: 75%;
  border-radius: 0.5rem;
  font-size: var(--FS-1_5);
  color: var(--Secondary-color);
  background-color: #4eaf50;
  border: none;
}

/* TODO POPUP---------------------*/
.create-todo-popup {
  display: none;
}

/* TODAYS TODO-------------------- */
.todays-todo .todays-todo-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid var(--Secondary-color);
  border-bottom: 2px solid var(--Secondary-color);
  padding: 0.4rem;
}

.todo-content-container {
  display: flex;
  justify-content: center;
}

.todo-content {
  width: 100%;
  padding: 0.8rem 0;
  margin: 1rem 0.5rem;
  background-color: var(--grey-color);
  border: 1px solid var(--Secondary-color);
  border-radius: 0.33rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-content-todo {
  margin-left: 2rem;
  margin-right: 0.5rem;
  color: var(--Secondary-color);
  text-align: center;
}

.todo-title {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

.todo-date {
  font-size: 0.8rem;
}

.todo-content-buttons {
  margin-right: 1rem;
  gap: 1rem;
  display: flex;
}

.todo-button-change {
  background-color: var(--green-color1);
  color: var(--Secondary-color);
  border: none;
  border-radius: 0.7rem;
  padding: 0.5rem 1.2rem;
  font-size: 0.66rem;
}

.todo-button-delete {
  background-color: var(--delete-btn-color);
  color: var(--Secondary-color);
  border: none;
  border-radius: 0.7rem;
  padding: 0.5rem 1.2rem;
  font-size: 0.66rem;
}

/* CURRENT DAY TODO */
.current-day-todo .current-day-todo-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid var(--Secondary-color);
  border-bottom: 2px solid var(--Secondary-color);
  padding: 0.4rem;
}

/* ALL TODO */
.all-todo .all-todo-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid var(--Secondary-color);
  border-bottom: 2px solid var(--Secondary-color);
  padding: 0.4rem;
}

/* MAIN---------------------------------------------------------------------------------- */

main {
  display: none;
  background-color: purple;
}
