.month-div {
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.weekday-div {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.calendar {
  width: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0.5rem solid black;
}

.day:hover {
  background-color: var(--grey-color);
  border: 0.5rem solid var(--grey-color);
}

.day:active {
  border: 0.5rem solid var(--green-color1);
}

@media (width > 768px) {
  main {
    display: block;
  }

  aside {
    border: 2px solid var(--Secondary-color);
    border-top: none;
  }
}
