.month-div {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0 3rem;
}

.weekday-div {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.day {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.day:hover {
  background-color: var(--grey-color);
}

.active {
  border: 0.5rem solid var(--green-color1);
}

@media (width > 768px) {
  aside {
    border: 2px solid var(--Secondary-color);
    border-top: none;
  }

  main {
    display: block;
  }
}
