.month-div {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0 3rem;
}

.weekday-div {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.daysInCalendar{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);

}

.day {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid 2px white;
  color: white;
  list-style-type: none;
}

.padding {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid 2px grey;
}

.day:hover {
  background-color: var(--grey-color);
}

.active {
  border: 0.5rem solid var(--green-color1);
}

@media (width > 768px) {
  header{
    text-align: end;
  }
  header img{
    margin-right: 3rem;
  }
  main {
    display: block;
  }

  aside {
    border: 2px solid var(--Secondary-color);
    border-top: none;
  }

  .todo-heading p:first-of-type,
  .todo-heading p:last-of-type {
    font-size: var(--FS-1_5);
  }

  .todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .todo {
    width: 60%;
  }
}
